{% load qr_tags %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" href="{% static 'drink/style.css' %}">
</head>

{% block title %}Index{% endblock %}

{% block content %}

{% for drink in drinks %}
	<div class="block">
	<p>
		<img src="{% static drink.photo.url %}"/>
	</p>
	<p>
		<a href="http://toto.tata/drink/take/{{ drink.name }}">{{ drink.name }}</a>
	</p>
	<p>
		Solde : {{ drink.lastStock.quantity }}
	</p>
	<p>
		{% qr_from_text "http://toto.tata/drink/take/"|add:drink.name %}
	</p>
	</div>
{% endfor %}
{% endblock %}

<a href="{% url 'registration_register' %}"> S'inscrire </a>
